Source: autosuspend-support
Section: core
Priority: extra
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>= 7)
XCS-Cross-Host-Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0

Package: autosuspend-support
Architecture: all
Description: autosuspend enabler
 This package enables autosuspend mode, as found in OpenInkpot kernels, on
 boot. Most useful for the devices which sleep most of the time, such as e-ink
 based book reading devices.
